[Unit]
Description=Radioberry SDR
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/etc/init.d/radioberryd start
ExecStop=/etc/init.d/radioberryd stop
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
